# Dépendances
node_modules/
package-lock.json
yarn.lock

# Build Angular
dist/
out-tsc/
tmp/
coverage/
e2e/test-output/
.angular/
.ng/
.angular-cli.json
*.tsbuildinfo

# Environnement
.env
.env.*

# IDE / éditeurs
.idea/
.vscode/
*.iml
.claude/

# Système
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
